.candidate__list {
   background-color: #f7f7f7;
   height: 100%;

   .candidate__list__header {
      height: 50px;
      width: 100%;
      margin-top: 30px;
      border-bottom: 1px solid #f2f2f2;

      ul {
         margin: 1px 60px;
         height: 100%;
         display: flex;
         align-items: center;

         li {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #4f4f4f;

            &:first-child {
               min-width: 28%;
               max-width: 28%;
            }

            &:nth-child(2) {
               min-width: 20%;
               max-width: 20%;
            }

            &:nth-child(3) {
               min-width: 20%;
               max-width: 20%;
            }
         }
      }
   }

   .divider {
      margin-left: 20px;
      margin-right: 50px;
   }
}
