.header {
   background-color: #ffffff;
   height: 113px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);

   .header__title__section {
      height: 72px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__title__container {
         
         height: 100%;
         width: 480px;
         margin-left: 44px;
         display: flex;
         justify-content: space-between;
         align-items: center;

         span {
            font-size: 20px;
            font-weight: 700;
         }
      }

      .header__actions {
         height: 100%;
         width: 200px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-right: 50px;

         .header__actions__button {
            width: 101px;
            height: 40px;
            border: 1px solid #0675ce;
            border-radius: 3px;
            background-color: transparent;
            color: #0675ce;
            font-size: 13px;
         }

         .header__actions__images {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .header__actions__empty {
               position: absolute;
               right: -20px;
               background-color: #c4c4c4;
               height: 30px;
               width: 30px;
               border-radius: 50%;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 13px;
               font-weight: bold;
            }

            img {
               height: 30px;
               width: 30px;
               border-radius: 50%;
               object-fit: cover;

               &:nth-child(3) {
                  position: absolute;
                  right: 0px;
               }

               &:nth-child(2) {
                  position: absolute;
                  right: 20px;
               }

               &:nth-child(1) {
                  position: absolute;
                  right: 40px;
               }
            }
         }
      }
   }

   .header__nav__section {
      border-top: 1px solid #f2f2f2;
      height: 41px;
      width: 100%;
      display: flex;
      align-items: center;

      a {
         height: 100%;
         color: #000000;
         display: flex;
         justify-content: center;
         align-items: center;

         &:nth-child(1) {
            margin-left: 44px;
         }

         &:nth-child(2) {
            margin-left: 35px;
         }
      }

      .active {
         color: #0675ce;
         border-bottom: 3px solid #0675ce;
      }
   }
}

.header__popover__overlay {
   height: 312px;
   width: 347px;
}

.header__popover {
   height: 270px;
   width: 100%;
   border-radius: 9px;

   section {
      padding: 10px;
      display: flex;
      justify-content: flex-start;

      img {
         height: 20px;
         width: 20px;
      }

      span {
         margin-left: 10px;
      }

      &:nth-child(5) {
         ul {
            height: 100px;
            width: 100%;
            display: flex; 
            flex-wrap: wrap;

            li {
               list-style: none;
               margin-left: 10px;
               height: 30px;
               padding: 5px;
               font-size: 14px;
               font-weight: 400;
               border-radius: 3px;
               background-color: #f2f2f2;
               display: flex;
               justify-content: center;
               align-items: center;
            }
         }
      }
   }
}
